<% if current_user && !Profile.exists?(user_id: current_user.id) %>
    <% controller.redirect_to new_profile_path %>
<% end %>

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-3">Welcome to Borrows</h1>
        <p class="lead">A Lending and Renting Marketplace for Synth and Audio gear</p>
        <br>
        <%# <hr class="my-4"> %>
        <a class="btn btn-primary btn-lg" href="<%= listings_path%>" role="button">Browse All Listings</a>
    </div>

    <%= render 'shared/displaylistings' %>
</div>